.speech
{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: black;
}
.name
{
    font-family:'Cambria';
    font-size: 25px;
    color: antiquewhite;
}
.direction
{
    font-family: 'Courier New';
    font-size: 30px;
    color: black;
    background-color: aqua;  
}
.direction:hover
{
    color: darkgreen;
    background-color:orange;
}
.PR 
{
color: hwb(133 2% 1%);
}
.OED
{
    color: blueviolet;
}
.CREON
{
    color: rgb(248, 7, 7);
}
.CR
{
    color:blue;
}
.CE
{
    color: green;
    
}
table
{
    border:dashed 3px;
    color: green;  
    padding: 1px;
    margin: 20px;
}

td, th {border: solid 1px;
    text-align: center;
    color: black;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  h6:hover
  {
    text-shadow: 5px 5px 20px rgb(11, 244, 104);
    border: 2px solid rgb(40, 3, 92);
    padding: 5px;
    border-radius: 5px;
    filter: blur(1px);
  }
 .navbar-horizontal
 {
    background-color:#0d4549;
    bottom:0;
    width: 100%;
    position: fixed;
    border: #e40a0a;
    padding :10px 0;
    text-align: center;
                                     

 }
.navbar-horizontal ul {
    
    list-style: none;
    margin:0%;
    padding: 0%;
  
  }
  
  .navbar-horizontal li {
    display: inline;
    margin: 0 15px;
    float:center;
  }
  
 .navbar-horizontal a {
    color: aquamarine;
    padding:2px
    
  }
  .navbar-horizontal img{
    vertical-align: middle;
    margin-right: 5px;
    height: 15px;
  }

  .navbar-horizontal li:hover{
background-color:rgb(225, 136, 34);
  }